In [3]:
# Cell 1: Print Hello and environment basic info
print("✅ Dev Container Jupyter Notebook is running!")

import sys
print("Python version:", sys.version)

✅ Dev Container Jupyter Notebook is running!
Python version: 3.13.5 (main, Jul  1 2025, 02:43:57) [GCC 12.2.0]

In [4]:
# Cell 2: Test core libraries
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(5, 3), columns=["A", "B", "C"])
df

          A         B         C
0  0.600947  0.119450  0.805262
1  0.455746  0.268449  0.803895
2  0.181669  0.828674  0.592438
3  0.857955  0.410808  0.271005
4  0.394960  0.336079  0.056632